<h3>{$name}列表</h3>
<admin:panel >	
	<admin:tabletool filter="true" keyword="{$pageMaps.keyword}">
		<input type="hidden" name="keyword" value="{$pageMaps.keyword}" />
																<!--支付平台:  1.微信  2.支付宝-->
		<admin:select name="payfrom"  item="==充值平台==,微信,支付宝" value="0,1,2" selected="$pageMaps['payfrom']" />
																<!--充值状态:  1.成功   2.审核   0.失败   4.超时-->
  		<admin:select name="status"   item="==充值状态==,成功,审核,失败,超时" value="0,1,2,-1,4" selected="$pageMaps['status']" />	
  																<!--充值类型:  1.购买vip 2.充值-->
  		<admin:select name="paytype"  item="==充值类型==,购买vip,充值" value="0,1,2" selected="$pageMaps['paytype']" />	
  	</admin:tabletool>
	
	
	<admin:table id="table" show="编号,用户id,用户昵称,所属代理,充值金额,充值平台,订单号,充值状态,充值类型,cid,充值时间" class="m-table-border">
		<foreach name="list" item="vo">
			<tr>	
				<td>{$vo.id}</td>
				<td>{$vo['uid']}</td>
				<td>{$niceName[$vo['uid']]}</td>
                <td>{$pniceName[$vo['parent_id']]}</td>
				<!--<td><if condition="$vo['sex'] eq 1" >男<elseif condition="$vo['sex'] eq 2" />女</if></td>-->
				<td>{$vo.fee}</td>
				<td>
					<!--支付平台:  1微信，2支付宝-->
					<if condition="$vo['payfrom'] eq 1" >微信<elseif condition="$vo['payfrom'] eq 2" />支付宝</if>
				</td>
				<td>{$vo.out_trade_no}</td>
				
				<td>
					<!--充值状态:  1成功2审核0失败4超时-->
					<if condition="$vo['status'] eq 1" >成功
					<elseif condition="$vo['status'] eq 2" />审核
					<elseif condition="$vo['status'] eq 0" />失败
					<elseif condition="$vo['status'] eq 4" />超时
					</if>
				</td>
				<td>
					<!--充值类型:  1，购买vip 2,充值'-->
					<if condition="$vo['paytype'] eq 1" >购买vip<elseif condition="$vo['paytype'] eq 2" />充值</if>
				</td>
				<td>{$vo.cid}</td>
				<td>{$vo.time|date="Y-m-d H:i:s",###}</td>
			</tr>
		</foreach>
	</admin:table >
	<admin:tablefoot />
</admin:panel>


<script>
	Do.ready('base',function() {
		//左下角的选择操作      
		$('#selectAction').change(function() {
			var type = $(this).val();
		});
		
		$('#table').duxTable({
//			actionUrl: "{:U('Admin/Audit/batchAction')}", //批量操作
			deleteUrl: "{:U('')}", //单条删除
			actionParameter: function() {
				return {
					'class_id': $('#selectAction').next('#class_id').val()
				};
			}
		});
	});
</script>