<div style="width:500px; margin:0 auto; margin-top:50px;">
	<admin:form url="{:U('Admin/User/setmjall')}" method="post" class="m-form-horizontal" >
   	昵称设置:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea name="name_arr" style="width:400px;" rows="8">{$res}</textarea><br><br>
	服务器文件夹：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mfile" placeholder="请注意不要填写旧文件夹" style="width:190px;"><br><br>
    <input type="submit" style="width:300px;" value="提交">
    </admin:form>
</div>