<div style="width:300px; margin:0 auto; margin-top:50px;">
	<admin:form url="{:U('Admin/Tuig/setdaili')}" method="post" class="m-form-horizontal" >
	代理账户编号<input type="text" name="dailicode" placeholder="必填"><br /><br />
    分成(%)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="dailikl" placeholder="必填，默认100" value="100"><br /><br />
    代理账户备注<input type="text" name="dailibei" placeholder="选填"><br /><br />
    <input type="submit" style="width:200px;">
    </admin:form>
</div>