<h3><eq name='type' value='1'>购买vip<else/>充值</eq>设置 </h3>
<admin:panel >
<div class="m-table-tool f-cb">
              <a  href="{:U('saveCredit',array('type'=>$_GET['type']))}" class="u-btn u-btn-primary  u-btn-small">添加设置</a>
            </div>
  <if condition="!$type">
  <admin:table id="table" show="选择|30,编号|30,充值钱数,赠送钱数,操作|250">
    <foreach name="list" item="vo">
      <tr>
        <td>
        	<input type="checkbox" name="id[]" value="{$vo.id}" />
        </td>
        <td>{$vo.id}</td>
        <td>{$vo.money}</td>
        <td>{$vo.zmoney}</td>       
        <td>
        <a class="u-btn u-btn-primary  u-btn-small" href="{:U('saveCredit',array('id'=>$vo['id'],'type'=>$type))}">修改</a>      
		 <a class="u-btn u-btn-danger  u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a>
		</td>
      </tr>
    </foreach>
  </admin:table>
  <else/>
   <admin:table id="table" show="选择|30,编号|30,vip天数,原价,现价,操作|250">
    <foreach name="list" item="vo">
      <tr>
        <td>
        	<input type="checkbox" name="id[]" value="{$vo.id}" />
        </td>
        <td>{$vo.id}</td>
        <td>{$vo.day}</td>
        <td>{$vo.original}</td>
         <td>{$vo.price}</td>       
        <td>
        <a class="u-btn u-btn-primary  u-btn-small" href="{:U('saveCredit',array('id'=>$vo['id'],'type'=>$type))}">修改</a>      
		 <a class="u-btn u-btn-danger  u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a>
		</td>
      </tr>
    </foreach>
  </admin:table>
  
  
  </if>
  <admin:tablefoot action="false" />
</admin:panel>
<script type="text/javascript" charset="utf-8">
	Do.ready('base',function() {
		//移动操作
		$('#selectAction').change(function() {
			var type = $(this).val();
			if(type == 3){
				$(this).after($('#class_id').clone());
			}else{
				$(this).nextAll('select').hide();
			}
		});
		//表格处理
		$('#table').duxTable({
			actionUrl : "{:U('batchAction')}",
			deleteUrl: "{:U('delCredit',array('type'=>$_GET['type']))}",
			actionParameter : function(){
				return {'class_id' : $('#selectAction').next('#class_id').val()};
			}
		});
	});
	
	$(function(){
		$('.add').click(function(){
			var mtype = $(this).attr('dataType');
			var uid = $(this).attr('data');
			var type = 10;
			var desc = '后台添加';
			var moeny=prompt("请输入金额！");
		    if(moeny){
		    	$.post("{:U('Admin/User/sendaccount')}",{mtype:mtype,type:type,moeny:moeny,desc:desc,uid:uid},function(data){
		    		if(data=='操作成功！'){
		    			alert(data);
		    			history.go(0);
		    		}
	    	
	    		})
		    }
			
		})
	})
	
	
	
</script>





