<h3>{$name}列表</h3>
<admin:panel >
	<admin:tabletool filter="true" keyword="{$pageMaps.keyword}">
																<!--0待审核 1通过  2 未通过-->
		<input type="hidden" name="keyword" value="{$pageMaps.keyword}" />
  		<admin:select name="status"  item="==状态==,待审核,通过,未通过" value="0,-1,1,2" selected="$pageMaps['status']"  />	
	</admin:tabletool>
	<admin:table id="table" show="选择,编号,用户ID,用户名,审核内容,审核状态,添加时间,操作|200" class="m-table-border">
		<foreach name="list" item="vo">
			<tr>
				<td><input type="checkbox" name="id[]" value="{$vo.id}" /></td>			
				<td>{$vo.id}</td>
				<td>{$vo.uid}</td>
				<td>{$niceName[$vo['uid']]}</td>
				<td>
					<if condition="$vo['type'] eq 0">
						<img src="{$vo.text}" style="width: 120px;height: 80px;" />
					<else /> 
						{$vo.text}
					</if>
				</td>
				<td id="audit_a">
					<if condition="$vo['status'] eq 1 "><span style="color: darkcyan;"> 已通过 </span>
					<elseif condition="$vo['status'] eq 0 " /><span style="color: lightcoral;"> 待审核 </span>	
					<elseif condition="$vo['status'] eq 2 " /><span style=" color: red ;"> 未通过 </span>	
					</if>
				</td>
				<td>{$vo.created_time|date="Y-m-d H:i:s",###}</td>
				<td>
					<if condition="$vo['status'] eq 0 "> 
						<span>
							<a class="u-btn u-btn-primary u-btn-small" datatype='1' data="{$vo.id}">通过 </a>
							<a class="u-btn u-btn-primary u-btn-small" datatype='2' data="{$vo.id}">不通过 </a>
						</span>
					</if>
					<a class="u-btn u-btn-danger  u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a>
				</td>
			</tr>
		</foreach>
	</admin:table>
	<admin:tablefoot action="true" item="通过,未通过,删除" value="2,3,1" />
</admin:panel>
<script>
	Do.ready('base', function() {
		$('#selectAction').change(function() {
			var type = $(this).val();
		});
		//表格处理
		$('#table').duxTable({
			actionUrl: "{:U('Admin/Audit/batchAction')}", //批量操作
			deleteUrl: "{:U('Admin/Audit/del')}", //单条删除
			actionParameter: function() {
				return {
					'class_id': $('#selectAction').next('#class_id').val()
				};
			}
		});
	});
	
	
	$(".u-btn-primary").click(function(){
		var obj = $(this);
		var index = parseInt(obj.parent().index()-3);
		var o = obj.parents('tr').find('td').eq(index);
		var  html ='<span style="color:#2D822D;">已通过</span>';
		var id = obj.attr('data');
		var type = obj.attr('datatype');
		
		
		$.ajax({
			type: "post",
			url: "{:U('Admin/Audit/audit')}",
			data: {id:id,type:type} ,
			dataType:"json",
			success: function(result) {
			    if(result == 1){
				    o.html('<span style="color:#2D822D;">已通过</span>');
					obj.parent('span').remove();  
			    }
			    if(result == 2){
			    	o.html('<span style="color:red;">未通过</span>');
					obj.parent('span').remove();
			    }
			}
		});	
	})
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	function audit(id) {
		var o = $('.u-btn-primary');
		var index = parseInt(o.parent().index()-2);		
		var obj = o.parents('tr').find('td').eq(index);
		var  html ={1:'<span style="color:#2D822D;">通过</span>',2:' <span style="color:red;">未通过</span>'}; 
		
		$.ajax({
			type: "post",
			url: "{:U('Admin/Audit/audit')}",
			data: "id=" + id ,
			dataType:"json",
			success: function(result) {
			    if(result.status==1){
				    obj.html(html[1]);
					o.remove();  
			    }else{
				   alert(result.info);
			    }
			}
		});
	}
</script>