<h3>亲密度列表</h3>
<admin:panel >
	<admin:tabletool filter="true" keyword="{$pageMaps.keyword}">
																<!--1相互关注2送礼3聊天-->
  		<admin:select name="type"  item="==状态==,相互关注,送礼,聊天" value="0,1,2,3" selected="type" />	
	</admin:tabletool>
	<admin:table id="table" show="编号|200,发起变化人|250,亲密度值|250,亲密度变化的好友,变化描述,关注时间,操作|120" class="m-table-border">
		<foreach name="list" item="vo">
			<tr>
				<td>{$vo.id}</td>
				<td>{$userNicename[$vo['fromuid']]}</td>
				<td>{$vo.fee}</td>
				<td>{$userNicename[$vo['uid']]}</td>
				<td>{$vo.desc}</td>
				<td>{$vo.time|date="Y-m-d H:i:s",###}</td>
				<td>
					<a class="u-btn u-btn-danger  u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a>
				</td>
			</tr>
		</foreach>
	</admin:table>
	<admin:tablefoot />
</admin:panel>
<script>
	Do.ready('base',function() {
		//表格处理
		$('#table').duxTable({
			deleteUrl: "{:U('del')}",
		});
	});
</script>