<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>{:C('SITE_TITLE')}代理商后台</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css"/>
<link rel="stylesheet" href="__PUBLIC__/admin/css/login.css"/>

<style>
body,html { background-image:none;}
</style>
</head>
<body>
<div class="m-login">
    <div class="new_logo">{:C('SITE_TITLE')}系统<p>{:C('SITE_SUBTITLE')}</p></div>
    <div class="new_logo1">{:C('SITE_TITLE')}代理商后台</div>

	<form action="{:U()}" method="post" id="form">
	   <div class="form_div">
		   <ul>
		   	<li><input name="username"  type="text" class="login-user" id="username" value="" maxlength="30"></li>
		   	<li><input class="login-pwd" name="password" id="password" type="password" value="" maxlength="30"></li>
		   	<!--<li>
		   		<input class="yzm" name="captcha" id="password1"  value="" maxlength="30">
		   		<img src="{:U('Home/Site/verifyCode')}" onclick='javascript:this.src="{:U('Home/Site/verifyCode')}&" + Math.random()' alt="" class="yzm_img">
		   	</li>
            -->
		   	<li style="background-color:rgba(0, 0, 0, 0)"><button class="u-login-btn" type="submit">立即登录</button></li>
		   </ul>
	   </div>
	</form>
</div>
</body>
</html>